<!DOCTYPE html>

<html lang="en">

<head>
    <title>File Metadata</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
        type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <h1>API Project: File Metadata Microservice</h1>
        <hr />
        <h2 style="text-align: left; padding-left: 1.5rem;">User Stories:</h2>
        <div class="container" style="display: flex; text-align: left; justify-content: center;">
            <ol>
                <li>The API endpoints GET [project_url]/api/:date_string?</li>
            </ol>
        </div>
        <div>
            <h2>Example Usage:</h2>
            <h3 id="output"></h3>
            <section class="view">
                <span>
                    Please Upload a File ...
                </span>
                <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
                    <input id="inputfield" type="file" name="upfile" required>
                    <input id="button" type="submit" value="Upload">
                </form>
            </section>
        </div>
    </div>
    <div class="footer" style="display: flex; text-align: left; justify-content: center;">
        <p>
            Completed By <a href="https://www.linkedin.com/in/daniel-mason-dev/" target="_blank">Daniel
                Mason</a>
        </p>
    </div>
</body>

</html>