<!DOCTYPE html>

<html>

<head>
  <title>Microservices App | Daniel Mason</title>
  <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <h1>Microservices App</h1>
  <hr />
  <h2 style="text-align: left; padding-left: 1.5rem;">List of Microservices:</h2>
  <div class="container" style="text-align: left;">

    <ul>
      <li>• <a href="/timestamp" style="text-align: left; font-size: 1.25rem;">Timestamp
          Microservice</a></li>
      <li>• <a href="/request-header-parser" style="text-align: left; font-size: 1.25rem;">Request Header Parser
          Microservice</a></li>
      <li>• <a href="/url-shortener" style="text-align: left; font-size: 1.25rem;">URL Shortener
          Microservice</a></li>
      <li>• <a href="/exercise-tracker" style="text-align: left; font-size: 1.25rem;">Exercise Tracker
          Microservice</a></li>
    </ul>
  </div>
  <div class="footer">
    <p>
      created by <a href="https://www.linkedin.com/in/daniel-mason-dev/" target="_blank">Daniel
        Mason</a>
    </p>
  </div>
</body>

</html>