<!DOCTYPE html>

<html lang="en">

<head>
  <title>Request Header Parser | Daniel Mason</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="container">
    <h1>API Project - Request Header Parser Microservice</h1>
    <hr />
    <h2 style="text-align: left; padding-left: 1.5rem;">User Stories:</h2>
    <div class="container" style="display: flex; text-align: left; justify-content: center;">
      <ol>
        <li>The API endpoints GET [project_url]/api/:date_string?</li>
      </ol>
    </div>
    <h2>Example Usage:</h2>
    <p>
      <a href="api/whoami">[base url]/api/whoami</a>
    </p>
    <h2>Example Output:</h2>
    <p>
      <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
    </p>
  </div>
  <div class="footer" style="display: flex; text-align: left; justify-content: center;">
    <p>
      Completed By <a href="https://www.linkedin.com/in/daniel-mason-dev/" target="_blank">Daniel
        Mason</a>
    </p>
  </div>
</body>


</html>